<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="AIStory"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            AIStory
        </div>
    </a>
</div>

<div
    class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4 flex flex-col gap-8"
>
    <h1 class="text-4xl font-bold my-4 text-blue-500">About</h1>
    <div class="pb-8">
        <div class="prose py-2 flex flex-col gap-6">
            <p>AIStory 可以生成任意故事.</p>
            <p>
                我們使用AI技術自動生成劇情、圖片、與背景音樂.
            </p>
            <p>
                AIStory文字冒險游戏，最好的描述為文字交互式冒險遊戲。.
            </p>
            <p>
               是以往從未有過的，能夠即時生成引人入勝的互動遊戲。.
            </p>

            <p>
                AIStory讓這變得如此輕鬆，你甚至可以...
                <a class="text-blue-100 underline" href="/news"
                    >從新聞生成遊戲劇情</a
                >
                or
                <a class="text-blue-100 underline" href="/https://www.cnn.com/"
                    >從你的網站</a
                >.
            </p>
        </div>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
