<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            AIStory
        </div>
    </a>
</div>

<div
    class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4 flex flex-col gap-8"
>
    <h1 class="text-4xl font-bold my-4 text-blue-500">
        常見問題解答
    </h1>
    <div class="pb-8">
        <h2 class="text-blue-300">什麼是AIStory?</h2>
        <div class="prose py-2 flex flex-col gap-6">
            <p>AIStory是一個關於人工智慧和遊戲設計的實驗。.</p>
            <ul class="ml-4 md:ml-6 text-white">
                <li class="flex gap-4 items-center py-1">
                    <div class="w-2 h-2 bg-white"></div>
                    使用ChatGPT 生成遊戲概念和遊戲引擎
                </li>
                <li class="flex gap-4 items-center py-1">
                    <div class="w-2 h-2 bg-white"></div>
                    由StableDiffusion 生成遊戲美術
                </li>
            </ul>
            <p>
                這個大想法是，一個足夠先進的語言模型（像 ChatGPT）可以取代文字遊戲引擎。詳情請參閱
                <a
                    class="text-blue-100 underline"
                    href="https://63812f7a.cpolar.io/"
                    >AIStory 和創造性視頻遊戲的火花</a
                >.
            </p>
        </div>
    </div>

    <div class="pb-8">
        <h2 class="text-blue-300">AIStory是否免費?</h2>
        <div class="prose py-2 flex flex-col gap-6">
            <p>
                AIStory目前為免費遊玩，為了維持網站開銷與chatgpt成本，之後會引進訂閱制度.
            </p>
        </div>
    </div>

    <div class="pb-8">
        <h2 class="text-blue-300">How do I generate a video game?</h2>
        <div class="prose py-2 flex flex-col gap-6">
            <p>
                Head to
                <a
                    class="text-blue-100 underline"
                    href="/article/how-to-create-your-own-text-adventure-game"
                    >如何生成一個自己的遊戲劇情？</a
                >.
            </p>
        </div>
    </div>

    <div class="pb-8">
        <h2 class="text-blue-300">誰創建了AIStory?</h2>
        <div class="prose py-2 flex flex-col gap-6">
            <p>
                AIStory 由
                <a
                    class="text-blue-100 underline"
                    href="https://63812f7a.cpolar.io/"
                    >Singularity</a
                >創建.
            </p>
            <p>
                查看
                <a class="text-blue-100 underline" href="/about">關於</a>
                了解詳情.
            </p>
        </div>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
