<%- include("./header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            AIStory
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8">
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            隱私政策
        </h1>
        <span class="text-yellow-200"><%- description %></span>
    </div>
    <div class="prose py-2 flex flex-col gap-6 leading-relaxed">
        <p>生效日期：2023年6月1日</p>

        <p>本隱私政策描述了無限遊戲廳（下稱“我們”、“我們的”或“我們”）所擁有和經營的移動應用程式 AIStory 如何收集、使用和保護用戶數據。</p>

        <p>我們收集的信息</p>

        <p>我們只從AIStory的用戶收集匿名追蹤數據。此數據僅用於改進我們產品的功能和用戶體驗。我們不收集可識別個人身份的信息（PII）。</p>

        <p>我們可能使用各種技術來收集和存儲此數據，其中可能包括將 cookie 或匿名識別符發送到您的設備。</p>

        <p>信息使用</p>

        <p>我們使用所收集的匿名追蹤數據來增強 AIStory 提供的服務。使用數據幫助我們了解應用程式的使用情況，識別錯誤並進行改進，以確保更好的用戶體驗。它不用於識別個別用戶。</p>

        <p>信息共享</p>

        <p>我們不與第三方分享、出售、租賃或交易用戶個人信息以進行商業用途。</p>

        <p>數據安全</p>

        <p>我們使用合理的措施來保護用戶信息，防止未經授權的訪問、破壞、使用、修改或披露。</p>

        <p>本政策的更改</p>

        <p>我們可能不時修改本隱私政策。如果我們進行更改，我們將通過修改本政策頂部的日期，並在某些情況下，可能向您提供額外的通知。</p>

        <p>通過使用AIStory，您同意我們的隱私政策。</p>


        <p>本隱私政策的最後更新日期為2023年6月1日。</p>
    </div>
</div>
<%- include("./scripts.ejs") %>
<!-- -->
<%- include("./footer.ejs") %>
